html, body {
  height: 100%;
}

body {
  font-family: Courier;
  margin: 0;
  display: flex;
  justify-content: center;
}

h3 {
  margin: 2%;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1px;
  text-align: left;
}

button {
  font-family: Courier;
  margin-left: 2%;
}

#canvasHolder {
  width: 67vw;
}

#configurationHolder {
  width: 33vw;
  padding: 0%;
  overflow: auto;
}

#distanceMatrixWrapper {
  overflow: auto;
  overflow-y: auto;
  width: 33vw;
  height: 33vw;
}

#distanceMatrix {
}

#nnButton {

}

#stepLog {
  height: 100px;
  overflow: auto;
  border: 1px solid;
}

#pseudocode {
  white-space: pre-wrap;
}

.tabsHolder {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
   display: flex;
   flex-wrap: wrap;
}

.tabsHolder button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
}

.tab {
  min-width: 31%;
  flex: 1 1 auto;
}

.tabcontent {
   display: none;
   border: 1px solid #ccc;
   border-top: none;
}
