
html, body {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  display: flex;
  justify-content: center;
}

h3 {
  margin: 2%;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1px;
  text-align: left;
}

button {
  font-family: monospace;
}

#canvasHolder {
  width: 66.6666666666666666666666666vw;
}

#configurationHolder {
  width: 33.3333333333333333333333333vw;
  overflow: auto;
  border-left: 1px solid #c8c7c7;
}

#algorithmButtons {
  display: grid;
  grid-template-columns: 50% 50%;
}

.algorithmButton {
  margin: 0 5px 5px 5px;
}

#distanceMatrixWrapper {
  overflow: auto;
  overflow-y: auto;
  width: 33vw;
  height: 33vw;
  margin: 0 5px 5px 5px;
}

#stepLog {
  height: 100px;
  overflow: auto;
  border: 1px solid;
  margin: 0 5px 5px 5px;
}

#pseudocode {
  white-space: pre-wrap;
  margin: 0 5px 5px 5px;
}

#animationControls {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.animationControl {
  margin: 0 5px 5px 5px;
}

.tabsHolder {
   overflow: hidden;

   background-color: #f1f1f1;
   display: flex;
   flex-wrap: wrap;
}

.tabsHolder button {
   background-color: inherit;
   float: left;
   border: 1px solid #ccc;
   border-left: none;
   border-top: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
}

.tabsHolder button:hover {
   background-color: #bbb;
   float: left;
   border: 1px solid #ccc;
   border-left: none;
   border-top: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
}

.tab {
  min-width: 31%;
  flex: 1 1 auto;
}

.spaceTab {
  min-width: 31%;
  flex: 1 1 auto;
}

.tabcontent {
   display: none;
   border: 1px solid #ccc;
   border-top: none;
}
