html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h3 {
  margin: 2%;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1px;
  text-align: left;
}

#canvasHolder {
  width: 67%;
}

#configurationHolder {
  width: 33%;
  border-left: 1px solid;
}

#distanceMatrixWrapper {
  margin: 2%;
  overflow: auto;
  overflow-y: auto;
  /*width: 95%;
  height: 100px;*/
}

#distanceMatrix {}
}

#nnButton {
  margin: 2%;
}

#stepLog {
  height: 100px;
  overflow: auto;
  margin: 2%;
  border: 1px solid;
}
